body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  background-color: #1a1a1a;
}

.content {
  background-color: #1a1a1a;
  height: 100vh;
  width: 100%;
  /* outline: 1px red solid; */
}

.header {
  -webkit-app-region: drag;
  background-color: #141414;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative; /* Ограничивает абсолютное позиционирование */
}

.rightSide {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 0;
  top: 0;
  display: flex; /* Делаем контейнер flex */
  gap: 0; /* Расстояние между элементами (можно увеличить при необходимости) */
}

.minBtn {
  width: 37px;
  height: 37px;
  display: flex; /* Включаем Flexbox */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}
.minBtn svg {
  width: 16px; /* Новая ширина (было 6px) */
  height: 2px; /* Высота остаётся прежней */
}
.minBtn:hover {
  background-color: #212121;
}
.maxBtn {
  width: 37px;
  height: 37px;
  display: flex; /* Включаем Flexbox */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}
.maxBtn:hover {
  background-color: #212121;
}
.closeBtn {
  width: 37px;
  height: 37px;
  display: flex; /* Включаем Flexbox */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}
.closeBtn:hover {
  background-color: rgb(157, 37, 37);
}
